#pageName.jumbotron.text-center
  h1 Forget
.col-sm-1.col-md-4
.col-sm-10.col-md-4
  div(id='form-padding')
    h4
      span.glyphicon.glyphicon-lock
      |  Forgot Password?
  div(id='form-padding')
    form
      .form-group
        label(for='usrname')
          span.glyphicon.glyphicon-user
          |  Enter Email Address
        input#email.form-control(type='text', placeholder='Enter Email')
      button.btn.btn-success.btn-default
        span.glyphicon.glyphicon-send
        |  Continue
    div
      button.btn.btn-danger.btn-default.pull-left(href='/')
        span.glyphicon.glyphicon-remove
        |  Cancel

