.jumbotron.text-center
  h1 Signup
.col-sm-1.col-md-4
.col-sm-10.col-md-4
  div(id='form-padding')
    h4
      span.glyphicon.glyphicon-lock
      |  Signup
  div(id='form-padding')
    form(role='form', name='signup-form')
      .form-group
        label(for='name')
          span.glyphicon.glyphicon-user
          |  Name
        input#name.form-control(type='text', ng-model='form.name', placeholder='Enter name')
      .form-group
        label(for='username')
          span.glyphicon.glyphicon-user
          |  Username
        input#username.form-control(type='text', ng-model='form.username', placeholder='Enter username')
      .form-group
        label(for='psw')
          span.glyphicon.glyphicon-eye-open
          |  Password
        input#psw.form-control(type='password', ng-model='form.password', placeholder='Enter password')
      .form-group
        label(for='psw')
          span.glyphicon.glyphicon-eye-open
          |  Password Confirmation
        input#re-psw.form-control(type='password', ng-model='form.passwordConfirmation', placeholder='Re-enter password')
      .form-group
        label(for='bday')
          span.glyphicon.glyphicon-time
          |  Birth Date
        input#b-day.form-control(type='date', ng-model='form.birthday', placeholder='Enter birthday')
      button.btn.btn-success.btn-block(ng-click="register()")
        span.glyphicon.glyphicon-off
        |  Signup
      //- button.btn.btn-success.btn-block(ng-click="clear()")
      //-   span.glyphicon.glyphicon-off
      //-   |  DELETE_ALL_USERS
      .alert.alert-danger(ng-show='error') {{error}}   
