.jumbotron.text-center
  h1 Contact
  form(role='form')
    .form-group
      textarea#contact(name='comment', ng-model="form.comment", placeholder='Inquiries here')
      br
    .form-group
      input#name(type="text", name='name', ng-model="form.name", placeholder='Name')
      br
    a(href="/")
      button.btn.btn-success
        span.glyphicon.glyphicon-send
        |  Contact Developers
