.jumbotron.text-center
  h1 Contact
  form(role='form')
    .form-group
      textarea#contact(name='comment', placeholder='Inquiries here')
      br
    button.btn.btn-success(type='submit')
      span.glyphicon.glyphicon-send
      |  Contact Developers
