.jumbotron.text-center
  h1 FAQ  
  div(ng-init="btn=0")
    h2#green.glyphicon.glyphicon-plus(ng-click="btn = !btn")
      b Question
    div(ng-show='btn == 1')
      br
      h2     		The answer to the universe and everything is 42.
    br
