.jumbotron.text-center
  h1 FAQ  
  div(ng-init="btn=0")
    h4.glyphicon.glyphicon-plus(ng-click="btn = !btn", style='color:green;', aria-hidden='true')
      b Question
    div(ng-show='btn == 1')
      br
      |     		The answer to the universe and everything is 42.
    br
