#pageName.jumbotron.text-center
  h1 {{user.username}}
div(ng-init="choice='view'")
  .col-xs-4.col-sm-4.col-md-3.list-group
    //a.list-group-item.active(ng-click="choice='view'", ng-class="{'active': choice=='view'}") View Account Info
    a.list-group-item(ng-click="choice='editA'", ng-class="{'active': choice=='editA'}") Edit Account Info
    a.list-group-item(ng-click="choice='editP'", ng-class="{'active': choice=='editP'}") Edit Preferences 
    //- a.list-group-item(ng-click="choice='editR'", ng-class="{'active': choice=='editR'}") Edit Registered Events
    //- a.list-group-item(ng-click="choice='hist'", ng-class="{'active': choice=='hist'}") History of Events
    //- a.list-group-item(ng-click="choice='del'", ng-class="{'active': choice=='del'}") Delete Account
  .col-xs-8.col-sm-8.col-md-9
    #view-profile(ng-show="choice=='view'")
      h4
        span#green.glyphicon.glyphicon-user
        |  Name: {{user.name}}
      h4
        span.glyphicon.glyphicon-user
        |  Username: {{user.username}}
      h4
        span.glyphicon.glyphicon-time
        |  Birthday: {{user.birthday}}
      h4
        span.glyphicon.glyphicon-road
        |  Location: {{user.location}}
    include ./manage/EditAcc.jade
    include ./manage/EditPref.jade
    //- include ./manage/EditReg.jade
    //- include ./manage/EditHist.jade
    //- include ./manage/Del.jade