nav.navbar.navbar-inverse
  .navbar-header
    a(href='/', title='PickUpGames')
      img#logo(alt='PickUpGames', src='img/logo.png')
    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bar-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
  // LINK TO OUR PAGES. ANGULAR HANDLES THE ROUTING HERE
  #bar-collapse.collapse.navbar-collapse
    ul#menu.nav.navbar-nav
      li
        a(href='/events') Events
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown')
          | Profile
          b.caret
        ul.dropdown-menu
          li
            a(href='/viewprofile') View Profile
          // li><a href = "/manageprofile">Manage Profile</a></li>
          li
            a(href='/contact') Contact
          li
            a(href='/faq') FAQ
      li(ng-show='!user')
        a(href='/login') Login
      li(ng-show='!user')
        a(href='/register') Sign Up
      li(ng-show='user')
        a
          | Logged in as 
          u {{user}}
      li(ng-show='user')
        a(href='/logout') Logout
    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#search-box')
      span#search-button.glyphicon.glyphicon-search
    #search-box.collapse.navbar-collapse
      form.navbar-form.navbar-right(role='search')
        a(href='/search')
          //- .form-group
          //-   input.form-control(type='text', placeholder='Search')
          button.btn.btn-default Search

