.jumbotron.text-center
  h1 {{tagline}}!

.col-sm-6.col-md-3(ng-repeat='event in events')
  .thumbnail.tile.tile-medium
    a(href='viewEvent/{{event.id}}')
      img#eventImg(src='/img/sports.png', alt='Sports')
