.jumbotron.text-center
  h1 {{tagline}}!

.col-sm-6.col-md-3(ng-repeat='event in eventList')
  .thumbnail.tile.tile-medium
    a(href='viewEvent/{{event._id}}')
      .caption
        b {{event.eventName}}
      img#eventImg(src='/img/sports.png', alt='Sports')
  
