
.jumbotron.text-center
  h1 Home
.col-sm-1.col-md-2
.col-sm-10.col-md-8
  h1(ng-show='user && !eventList.length && !joinedEvents.length') Add some preferences in your Profile to get recommendations. 
  .col-sm-6.col-md-3(ng-repeat='joined in joinedEvents')
    #joined.thumbnail.tile.tile-medium
      a(href='viewEvent/{{joined._id}}')
        img#eventImg(ng-show="joined.eventType'", src='{{joined.src}}', alt='{{joined.alt}}')
        .caption
          b {{joined.eventName}}
  .col-sm-6.col-md-3(ng-repeat='event in eventList')
    .thumbnail.tile.tile-medium
      a(href='viewEvent/{{event._id}}')
        img#eventImg(ng-show="event.eventType'", src='{{event.src}}', alt='{{event.alt}}')
        .caption
          b {{event.eventName}}
