extends layout

block body
  div(ng-init="user = #{user}")
    include ./partials/header.jade
  #mainContainer.container
    div#view(ng-view)
  div
    include ./partials/footer.jade




  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js'))
  script(src='js/controllers/User.js')
  script(src='js/controllers/Event.js')
  script(src='js/controllers/Home.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(type='text/javascript', src='js/lib/bootstrap/jquery.min.js')
  script(type='text/javascript', src='js/lib/bootstrap/js/bootstrap.min.js')
  link(rel='stylesheet', href='js/lib/bootstrap/css/bootstrap.min.css')

