/* app css stylesheet */
#eventImg{
 background-color: rgba(42, 78, 110, 0.60);
 max-width:100%;
 max-height:100%;
}

#eventImg:hover{
 -moz-box-shadow: 0 10px 10px #000; 
 -webkit-box-shadow: 0 10px 10px rgba(42, 78, 110, 0.4); 
 box-shadow: 0 10px 10px rgba(42, 78, 110, 0.4);
 background-color: rgba(42, 78, 110, 0.4);
}


/*#form {
    width: 40%;
    margin: 0 30%; 
}*/

#logo{
    max-width: 170px;
    height: auto;
    width: auto;
    display: inline-block;
    float: left;
    padding: 5px;
    padding-right: 20px;
    top: 0px;

}

#search-button{
    color: white;
    aria-hidden='true';
}

#form-padding{
  padding:20px 20px;
}

#green{
    color: lightgreen;
    aria-hidden='true';
}

body {
    background-color: lightblue !important;
	max-width:100%;
	max-height:100%;
}

.jumbotron {
    color: white !important;
    background-color: rgba(42, 78, 110, 0.24) !important;   
	
}

#view > div.col-sm-6.col-md-3.ng-scope > div{
	border: 1px solid rgba(221, 221, 221, 0);
	background-color:rgba(0,0,0,0);
}