/* app css stylesheet */


#eventImg:hover{
 -moz-box-shadow: 0 10px 10px #ccc; 
 -webkit-box-shadow: 0 10px 10px #ccc; 
 box-shadow: 0 10px 10px #ccc;
}


/*#form {
    width: 40%;
    margin: 0 30%; 
}*/

#logo{
    max-width: 170px;
    height: auto;
    width: auto;
    display: inline-block;
    float: left;
    padding: 5px;
    padding-right: 20px;
    top: 0px;

}

#search-button{
    color: white;
    aria-hidden='true';
}

#form-padding{
  padding:20px 20px;
}

#green{
    color: lightgreen;
    aria-hidden='true';
}

body {
    background-color: lightblue !important;
}

.jumbotron {
    color: white !important;
    background-color: navy !important;   
}

#tagbox {
    /*width: 10 !important;*/
    float:  right;
    clear: right;
    max-width: 100;
    padding: 2px;
    border: 5px solid navy;
    /*margin: 5px;*/
}

img { height:auto; width:100% }

#tags {
    margin: 5px;
}