/* app css stylesheet */
#eventImg{
 max-width:100%;
 max-height:100%;
  background-color: rgba(42, 78, 110, 0.4);

 
}

#eventImg:hover{
  background-color: rgba(42, 78, 110, 0.60);

}


#pageName.jumbotron.text-center{
    position:fixed;
    bottom:0;
    left:-25px;
    background-color:rgba(2, 2, 2, 0.00) !important;
    width:15%;
    height:100px;
    text-align:center !important;
    z-index:1000;
    padding:0;

}
#form {
    width: 40%;
    margin: 0 30%; 
    text-align: center;
}

#logo{
    max-width: 170px;
    height: auto;
    width: auto;
    display: inline-block;
    float: left;
    padding: 5px;
    padding-right: 20px;
    top: 0px;

}

#search-button{
    color: white;
    aria-hidden='true';
}

#form-padding{
  padding:20px 20px;
}

#green{
    color: lightgreen;
    aria-hidden='true';
}

body {
    background-color: rgba(16, 160, 236, 0.5) !important;
	max-width:100%;
	max-height:100%;
    margin-bottom: 50px !important;
    margin-top: 50px !important;
}
#mainContainer {
	background-color: rgba(211,211,211, 0.33) !important;   
	height:100vh;
    padding-top:10px;

}
.col-md-8
{
    width:100% !important;
}
.navbar {
	margin-bottom:0px !important;
	border-radius: 0px !important;
    min-height:30px !important;
}


#view > div.col-sm-6.col-md-3.ng-scope > div{
	border: 1px solid rgba(221, 221, 221, 0);
	background-color:rgba(0,0,0,0);
}

#tagbox {
    /*width: 10 !important;*/
    float:  right;
    clear: right;
    max-width: 100;
    padding: 2px;
    border: 5px solid navy;
    /*margin: 5px;*/
}

img { height:100%; width:100% }


#tags {
    margin: 5px;
    width: 80%;
    display: inline;
}
/*
form {
    display: inline;
}*/

button.close {
    display: inline;
}
/*
input {
    display: inline !impor;
}*/

#joined {
    border-style: solid !important;
    border-color: red !important;
    border-width: medium !important;
}

#comment {
    /*width: 10 !important;*/
    padding: 2px;
    border: 2px solid black;
    /*margin: 5px;*/
}

.right {
    float:right !important;
}

ul#menu.footer.nav.navbar-nav
{
    display: inline-block !important;
    float: none !important;
    vertical-align: top !important;
}
.navbar.navbar-inverse.navbar-fixed-bottom
{
    text-align: center;
    height:40px;
}
