.jumbotron.text-center
  h1 Search
.col-sm-1.col-md-2
.col-sm-10.col-md-8
  #form
    form(name='myform', role='form')
      .form-group
        button(ng-click="order('eventName')") name
        span.sortorder(ng-show="predicate === 'eventName'", ng-class='{reverse:reverse}')
        button(ng-click="order('eventDate')") date
        span.sortorder(ng-show="predicate === 'eventDate'", ng-class='{reverse:reverse}')
        button(ng-click="order('eventType')") type
        span.sortorder(ng-show="predicate === 'eventType'", ng-class='{reverse:reverse}')
      .form-group  
        label
        | Search for: 
        input(ng-model='search.$')     
      
  br
  .col-sm-6.col-md-3(ng-repeat="event in events | filter:search:false | orderBy:predicate:reverse")
    .thumbnail.tile.tile-medium
      a(href='viewEvent/{{event._id}}')
        img#eventImg(ng-show="event.eventType'", src='{{event.src}}', alt='{{event.alt}}')
        .caption
          b#eventTitle {{event.eventName}}
  
  
  //- p date={{event.eventDate}}
  //- p type={{event.eventType}}

  