.col-sm-1.col-md-4
.col-sm-10.col-md-4
  // HEADER
  div(id='form-padding')
    h4
      span.glyphicon.glyphicon-lock
      |  Add an event
  // BODY
  div(id='form-padding')
    h5 Fill out the details of the event you want to have and start planning the fun!
    form(role='form')
      .form-group
        label(for='eName')
          span.glyphicon.glyphicon-star
          |  Event Name
        input.form-control(type='text', ng-model='form.eventName', name='eventName', placeholder='Enter event name', ngrequired='true')
      // Form Group
      .form-group
        label(for='eType')
          span.glyphicon.glyphicon-map-marker
          |  Event Type
        select.form-control(ng-model='form.eventType', name='eventType', placeholder='Enter event type')
          option(value='', disabled, selected) Select event type
          option(value='Outdoor Sport') Outdoor Sport
          option(value='Indoor Sport') Indoor Sport
          option(value='Indoor Game') Indoor Game
          option(value='Computer Game') Computer Game
          option(value='Other') Other
      .form-group
        label(for='eLocation')
          span.glyphicon.glyphicon-map-marker
          |  Event Location
        input.form-control(type='text', ng-model='form.location', name='location', placeholder='Enter event location')
      .form-group
        label(for='eDate')
          span.glyphicon.glyphicon-calendar
          |  Event Date
        input.form-control(type='date', ng-model='form.eventDate', name='eventDate', placeholder='Enter event date')
      .form-group
        label(for='eGuestMax')
          span.glyphicon.glyphicon-user
          |  Max Guests
        input.form-control(type='number', ng-model='form.maxGuests', name='maxGuests', placeholder='Enter max amount of guests allowed.')
      .form-group
        label(for='eDescr')
          span.glyphicon.glyphicon-time
          |  Event Description
        input.form-control(type='text', ng-model='form.eventDescription', name='eventDescription', placeholder='Enter a short description of your event.')
      button.btn.btn-success.btn-block(ng-click='submitEvent()')
        span.glyphicon.glyphicon-off
        |  Create Event
