#pageName.jumbotron.text-center
  h1 Events
.col-sm-1.col-md-2
.col-sm-10.col-md-8
  .col-sm-6.col-md-3
    .thumbnail.tile.tile-medium
      a(href='/addEvent')
        img#eventImg(src='/img/addEventImg.png', alt='AddEvent')
        .caption
          b#eventTitle [Add Event]
  .col-sm-6.col-md-3(ng-repeat='event in events')
    .thumbnail.tile.tile-medium
      a(href='viewEvent/{{event._id}}')
        img#eventImg(ng-show="event.eventType=='Outdoor Sport'", src='/img/sports.png', alt='Sports')
        img#eventImg(ng-show="event.eventType=='Indoor Sport'",src='/img/indoor.png', alt='Indoor')
        img#eventImg(ng-show="event.eventType=='Indoor Game'",src='/img/board.png', alt='Games')
        img#eventImg(ng-show="event.eventType=='Computer Game'",src='/img/PC.png', alt='PC')
        img#eventImg(ng-show="event.eventType=='Other'",src='/img/other.png', alt='other')
        .caption
          b#eventTitle {{event.eventName}}
  