div(id='form')
  div(style='padding:10px 20px;')
    h4  Tennis 
  div(style='padding:20px 20px;')
    img(src='/img/tennis.jpg')
    br
    | Location: RPI Tennis Courts
    br
    | Time: Sunday 10am
    br
    | Attending 7/10
    div
      | Short Description
    form(role='form')
      button.btn.btn-success.btn-block
        span.glyphicon.glyphicon-ok
        |  Attend
