#form
  div(style='padding:10px 20px;')
    h4 {{event.eventName}} 
  div(style='padding:20px 20px;')
    img(src='/img/tennis.jpg')
    br
    | Location:{{event.location}} 
    br
    | Time: 
    input(type='date', value='{{event.eventDate}}', readonly='')
    br
    | Attending {{event.guests}}/{{event.maxGuests}}
    div {{event.eventDescription}}
    form(role='form')
      button.btn.btn-success.btn-block(ng-click='attend()')
        span.glyphicon.glyphicon-ok
        |  Attend
