#pageName.jumbotron.text-center
  h1
    b {{event.eventName}}
.col-sm-1.col-md-4
.col-sm-10.col-md-4
  div(id='form-padding')
    h1
      b {{event.eventName}} 
  div
    img#eventImg(ng-show="event.eventType=='Outdoor Sport'", src='/img/sports.png', alt='Sports')
    img#eventImg(ng-show="event.eventType=='Indoor Sport'",src='/img/indoor.png', alt='Indoor')
    img#eventImg(ng-show="event.eventType=='Indoor Game'",src='/img/board.png', alt='Games')
    img#eventImg(ng-show="event.eventType=='Computer Game'",src='/img/PC.png', alt='PC')
    img#eventImg(ng-show="event.eventType=='Other'",src='/img/other.png', alt='other')
    .col-sm-2.col-md-10
      h4 Location:{{event.location}} 
      h4 Time: 
        input(type='date', value='{{event.eventDate}}', readonly='')
      h4 Attending: {{event.guests}}/{{event.maxGuests}} guests
      h4 Description: {{event.eventDescription}}
    .col-sm-2.col-md-2
      h4 Tags: 
        #tagbox(ng-repeat="each in event.tag")
          {{each}}

  form(role='form')
    .row
      .col-sm-1.col-md-3
      .col-sm-10.col-md-6
        button.btn.btn-success.btn-block(ng-click='attend()', ng-show='attended==-1')
          span.glyphicon.glyphicon-ok
          |  Attend
        button.btn.btn-danger.btn-block(ng-click='cancel()', ng-show='attended>-1')
          span.glyphicon.glyphicon-ok
          |  Cancel
        .alert.alert-danger(ng-show='error') {{error}}
      .col-sm-1.col-md-3
    .row#form-padding(ng-show="user")
      .col-sm-1.col-md-3
      .col-sm-10.col-md-6
        textarea(ng-model="form.comment.text", placeholder="No spam please!")
        button.btn.btn-success.btn-block(ng-click='comment()')
          span.glyphicon.glyphicon-ok
          |  Comment
        div#comment-area(ng-repeat="comment in event.comments | orderBy: '+' : reverse")
          div
            p#comment {{comment.name}}: {{comment.text}}

        //- div#comment-area(ng-repeat="comment in [{'name':'John', 'text': 'RARW'},{'name':'John', 'text': 'POOP'}] | orderBy:'+'")


